body {
    font-family: 'Montserrat', sans-serif;
    background-color: #efe4c8;
    color: #9e2e2d;
}

#description {
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 20px;
}

hr {
    border: 5px solid #9e2e2d;
    border-radius: 10px;
    margin: auto;
    width: 500px;
}

img {
    border-radius: 30px;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}



#name {
    font-size: 32px;
}

.navbar {
    color: #9e2e2d;
    list-style-type: none;
    margin: 0;
    padding: 0;

}


#PT {
    margin: 1px;
    font-size: 16px;
}

.school {
    padding-left: 10px;
}

#table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
