html {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #efe4c8;
    color: #9e2e2d;
}

#contact {
    background-color: #9e2e2d;
    padding: 50px 40px 100px 40px;
    overflow: hidden;
}

#description {
    color: #efe4c8;
    text-align: center;
    font-size: 1em;
    margin: auto;
    width: 50%;
}

#secondblock {
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0;
    background-color: #9e2e2d;
    border-radius: 6px;
    /*width: 95%;*/
    overflow: hidden;
}

#gallery {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.galleryphotos {
    border-radius: 30px;
    height: 273px;
    width: 273px;
    margin: 10px;
}

#gallery-table {
    margin: 0 auto 0 auto;
    width: 50%;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 20px;
}

h2 {
    margin-bottom: 5px;
    text-align: center;
}

hr {
    border: 5px solid #9e2e2d;
    border-radius: 10px;
    margin: auto;
    width: 500px;
}

html {
  scroll-behavior: smooth;
}

#intouch {
    color: #efe4c8;
    font-size: 52px
}

#intouch-table {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    color: #efe4c8;
    font-size: 52px
}

#me {
    border-radius: 30px;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}

.level {
    padding-left: 50px;
}

#name {
    font-size: 1.6em;
}

.navbar {
    color: #9e2e2d;
    list-style-type: none;
    margin: 0;
    padding: 0;

}


#PT {
    margin: 1px;
    font-size: 0.8em;
}

.school {
    padding-left: 20px;

}

#educback {
    color: #efe4c8;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 43px;
    margin-bottom: 10px;
}

form {
    font-size: 12px;
}

.input-style {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    background-color: #9e2e2d;
    border: 1px solid #efe4c8;
    border-radius: 5px;
    width: 250px;
    padding: 10px 10px;
}

/*input, select, textarea{*/
/*    color: #efe4c8;*/
/*}*/

#submit {
    background-color: #9e2e2d;
    border-color: #efe4c8;
    color: #efe4c8;
    border-radius: 6px;
    margin-left: 245px;
    margin-top: 10px;
    padding: 10px 25px 10px 25px;
}

textarea:focus, input:focus {
    color: #efe4c8;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Montserrat", sans-serif;
    color: pink;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    background: #9e2e2d;
    color: #efe4c8;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

#github {
    color: #efe4c8;
    padding-top: 10px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
}
#github:hover {
    opacity: 0.7;
}
