body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 20px;
}

hr {
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    width: 500px;
}

img {
    border-radius: 30px;
}

#intro {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}



#name {
    font-size: 32px;
}

#PT {
    margin: 1px;
    font-size: 16px;
}

.school {
    padding-left: 10px;
}

#table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}